<template>
    <div>
        <b-button v-b-modal.modal-prevent-closing variant="primary">
            <b-icon icon="plus-lg"></b-icon>
            Add new</b-button
        >

        <b-modal
            id="modal-prevent-closing"
            title="Add new employee"
            size="lg"
            centered
            @show="resetModal"
            @hidden="resetModal"
            @ok="handleOk()"
        >
            <form @submit.stop.prevent="handleSubmit()">
                <!-- ID -->
                <b-form-group label="ID" label-for="id-input" invalid-feedback="ID is required">
                    <b-form-input id="id-input" v-model="id" required></b-form-input>
                </b-form-group>

                <!-- name -->
                <b-form-group
                    label="Name"
                    label-for="name-input"
                    invalid-feedback="Name is required"
                >
                    <b-form-input id="name-input" v-model="name" required></b-form-input>
                </b-form-group>

                <!-- age -->
                <b-form-group label="Age" label-for="age-input" invalid-feedback="Age is required">
                    <b-form-input id="age-input" v-model="age" required></b-form-input>
                </b-form-group>

                <!-- Salary -->
                <b-form-group
                    label="Salary"
                    label-for="salary-input"
                    invalid-feedback="Salary is required"
                >
                    <b-form-input id="salary-input" v-model="salary" required></b-form-input>
                </b-form-group>

                <!-- Department -->
                <b-form-group label="Department">
                    <b-form-select v-model="selected" :options="options"></b-form-select>
                </b-form-group>
            </form>
        </b-modal>
    </div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
    data() {
        return {
            id: '',
            name: '',
            age: Number(),
            salary: Number(),
            selected: null,
            options: [
                { value: null, text: 'Please select some item' },
                { value: '1', text: 'Marketing' },
                { value: '2', text: 'Electronics' },
                { value: '3', text: 'Clothing' },
                { value: '4', text: 'Books' },
                { value: '5', text: 'Toys' },
                { value: '6', text: 'Kids' },
                { value: '7', text: 'Computers' },
            ],
        };
    },
    computed: {},

    methods: {
        ...mapActions(['addNewEmployee']),

        resetModal() {
            this.name = '';
            this.nameState = null;
            this.selected = null;
        },
        handleOk() {
            this.addNewEmployee({
                id: this.id,
                name: this.name,
                age: this.age,
                salary: this.salary,
                departmentId: this.selected,
            });

            // Hide the modal manually
            this.$nextTick(() => {
                this.$bvModal.hide('modal-prevent-closing');
            });
        },
        // handleSubmit() {
        // }
    },
};
</script>
