<template>
    <div class="container">
        <!-- <input class="form-control" type="text" v-model="searchText" name="" /> -->

        <div class="mb-5">
            <Search :search-text.sync="searchText" @update="update" />
        </div>

        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Employee name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Department</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="employee in filterEmp" :key="employee.id">
                            <th scope="row">{{ employee.id }}</th>
                            <td>
                                <b-link @click="$router.push('/employee/' + employee.id)">{{
                                    employee.name
                                }}</b-link>
                            </td>
                            <td>{{ employee.age }}</td>
                            <td>{{ employee.salary }}</td>
                            <td>
                                {{
                                    departments.find(
                                        (item) => item.departmentId == employee.departmentId
                                    ).name
                                }}
                            </td>

                            <td>
                                <b-button
                                    pill
                                    class="mx-1 px-4"
                                    variant="outline-info"
                                    @click="$router.push('/employee/' + employee.id)"
                                    >Profile</b-button
                                >
                                <!-- <b-button pill  class="mx-1 px-4" variant="success">Edit</b-button> -->

                                <b-button
                                    pill
                                    class="mx-1 px-3"
                                    variant="danger"
                                    @click="handleDelete(employee.id)"
                                >
                                    Delete
                                </b-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import { departments } from '@/data/data.js';
import Search from '../Search.vue';
export default {
    name: 'all-employees',
    components: {
        Search,
    },
    data() {
        return {
            searchText: '',
            departments,
            empList: [],
            // filterEmp: [],
        };
    },
    methods: {
        ...mapActions(['deleteEmployee', 'editEmployee']),
        update(text) {
            this.searchText = text;
        },
        handleDelete(id) {
            this.deleteEmployee(id);
            this.empList = this.getAllEmployees;
        },
    },
    computed: {
        ...mapGetters(['getAllEmployees']),
        filterEmp: function () {
            return this.empList.filter((emp) =>
                emp.name.toLowerCase().match(this.searchText.toLowerCase())
            );
        },
        // ...this.filterEmp = this.filterEmployee()
    },
    created() {
        this.empList = this.getAllEmployees;
    },
};
</script>

<style lang=""></style>
