<template lang="">
    <b-card
        class="shadow bg-dark m-2 border"
        no-body
        style="max-width: 20rem"
        img-src="https://images.unsplash.com/photo-1668570001021-e5448a58b7b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=300&h=300"
        img-alt="Image"
        img-top
        footer-border-variant="success"
    >
        <b-card-body>
            <b-card-title class="text-info">{{ emp.name }}</b-card-title>
            <b-card-sub-title class="mt-2">Age: {{ emp.age }}</b-card-sub-title>
            <b-card-text>
                Salary:
                <span class="text-danger font-weight-bolder fs-5 fw-bold"> ${{ emp.salary }} </span>
            </b-card-text>
        </b-card-body>

        <b-card-footer class="d-flex justify-content-evenly">
            <b-button
                pill
                class="px-4"
                href="#"
                variant="outline-primary"
                @click="gotoEmployee(emp.id)"
                >Info</b-button
            >
            <b-button pill class="px-3" href="#" variant="danger" @click="handleDelete(emp.id)"
                >Delete</b-button
            >
            <!-- <slot name="info"></slot>
                <slot name="delete"></slot> -->
        </b-card-footer>
    </b-card>
</template>
<script>
import { mapActions } from 'vuex';

export default {
    props: {
        emp: Object,
    },
    data() {
        return {};
    },
    methods: {
        ...mapActions(['deleteEmployee']),
        gotoEmployee(empId) {
            return this.$router.push('/employee/' + empId);
        },
        handleDelete(id) {
            this.deleteEmployee(id);
            this.$emit('delete-emp')
        },
    },
};
</script>
<style lang=""></style>
