<template lang="">
    <div class="container">
        <div class="row">
            <div class="col-12 text-uppercase">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <!-- <th scope="col">EmployeeID</th> -->
                            <th scope="col">Employee name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Department</th>
                            <!-- <th scope="col">Actions</th> -->
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="employee in highestEmployees" :key="employee.id">
                            <!-- <th scope="row">{{employee.id}}</th> -->
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.age }}</td>
                            <td>{{ employee.salary }}</td>
                            <td>
                                {{ getDepartmentNameById(employee) }}
                            </td>

                            <!-- <td>
                                <b-button class="mx-1" variant="outline-primary">Profile</b-button>
                                <b-button class="mx-1" variant="success">Edit</b-button>
                                <b-button class="mx-1" variant="danger">Delete</b-button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';
import { departments } from '@/data/data';
export default {
    data() {
        return {
            departments,
        };
    },
    computed: { ...mapGetters(['highestEmployees', 'getDepartmentNameById']) },
};
</script>
<style lang=""></style>
