<!-- eslint-disable vue/multi-word-component-names -->
<template lang="">
    <transition name="login" appear>
        <div>
            <b-card no-body class="border-0">
                <b-tabs pills card fill vertical>
                    <b-tab
                        v-for="dep in getAllDepartments"
                        :key="dep.departmentId"
                        :title="dep.name"
                        @click="showTab(dep.departmentId)"
                    >
                    <h2>emp List: {{empList.length}}</h2>
                    <h3>display list length: {{displayList.length}}</h3>

                        <b-col class="m-1 d-flex ">
                            <card-employee @delete-emp="deleteEmp" :emp="emp" v-for="emp in displayList" :key="emp.id">
                            </card-employee>
                        </b-col>

                    </b-tab>
                </b-tabs>
            </b-card>
            <b-pagination
                class="mt-3"
                v-model="currentPage"
                pills
                :total-rows="rows"
                :per-page="perPage"
                align="center"
                size="lg"
                @input="paginate(currentPage)"
            ></b-pagination>
        </div>
    </transition>
</template>

<script>
import { mapGetters } from 'vuex';
import CardEmployee from '@/components/employees/CardEmployee.vue';

export default {
    components: {
        CardEmployee,
    },
    data() {
        return {
            empList: [],
            displayList: [],
            currentPage: 1,
            rows: 1,
            perPage: 4,
        };
    },
    computed: {
        ...mapGetters(['getAllDepartments', 'getAllEmployees', 'getAllEmployeesByDepartmentId']),
    },
    methods: {
        showTab(depId) {
            // console.log('showtab', this.empList)
            this.Start()
            this.empList = this.getAllEmployeesByDepartmentId(depId);
        },
        Start() {
            // this.showTab()
            this.rows = this.empList.length;
            this.displayList = this.empList.slice(0, 4);
        },
        paginate(page) {
            const start = (page - 1) * this.perPage;
            this.displayList = this.empList.slice(start, start + 4);
        },
        deleteEmp(){
            this.empList = this.getAllEmployeesByDepartmentId();
        }
    },
    watch: {
        empList() {
            console.log('emplist change')
            this.Start();
        },
    },
    created() {
        this.showTab();
    },
    mounted() {
        this.Start();
    },
};
</script>

<style lang=""></style>
