<template>
  <transition name="login" appear>
    <div class="border rounded-3 p-4">
    <div class="header-info bg-light py-2 rounded-5">
      <div class="align-items-center d-flex header-info-left justify-content-around">
        <div class="header-icon px-4" @click="$router.push('/employee/')">
          <b-icon-arrow-left
            class=""
            scale="2"
          ></b-icon-arrow-left>
        </div>
        <div class="align-items-center d-flex w-50">
          <b-avatar
            variant="info"
            src="https://images.unsplash.com/photo-1668570001021-e5448a58b7b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=300&h=300"
            class="ml-3"
          ></b-avatar>
          <span class="fs-3 fw-bolder px-3"> {{ newEmp[0].name }}</span>
        </div>
      </div>

      <div class="header-info-right">
        <b-button variant="danger" class="mx-4 px-3 rounded-3" @click="handleDelete(newEmp[0].id)"> Delete </b-button>
      </div>
    </div>

    <b-card no-body class="border-0 p-5">
      <b-row no-gutters class="d-flex justify-content-evenly">
        <b-col md="4" class="b-rating">
          <b-card-img
            src="https://images.unsplash.com/photo-1668570001021-e5448a58b7b2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=300&h=300s"
            alt="Image"
            class="rounded-5 w-75 shadow"
            height="450"
          ></b-card-img>
        </b-col>

        <b-col
          md="8"
          class="bg-light rounded-5 px-5 py-2 d-flex align-items-center flex-column w-50"
        >
          <h2 class="py-3">Employee details</h2>
          <form ref="form" class="w-75" @submit.stop.prevent="handleSubmit">
            <div v-for="item in newEmp" :key="item.id">
              <b-form-group label="Name" label-for="name-input" @submit.stop.prevent="handleOk()">
                <b-form-input
                  id="name-input"
                  class="rounded-pill px-3"
                  v-model="item.name"
                  required
                >
                </b-form-input>
              </b-form-group>

              <b-form-group label="Age" label-for="age-input">
                <b-form-input id="age-input" class="rounded-pill px-3" v-model="item.age" required>
                </b-form-input>
              </b-form-group>

              <b-form-group label="Salary" label-for="salary-input">
                <b-form-input
                  id="salary-input"
                  class="rounded-pill px-3"
                  v-model="item.salary"
                  required
                >
                </b-form-input>
              </b-form-group>

              <b-form-group label="Department" label-for="department-input">
                <b-form-input
                  id="department-input"
                  class="rounded-pill px-3"
                  v-model="item.departmentId"
                  required
                >
                </b-form-input>
              </b-form-group>

              <b-form-group class="my-4 b-rating">
                
                <b-button class="mx-4" type="button" @click="handleResetForm()" variant="outline-secondary"> Cannel </b-button>
                <b-button class="mx-4" type="submit"  variant="success"> Update </b-button>
              </b-form-group>
            </div>
          </form>
        </b-col>
      </b-row>
    </b-card>

    <!-- --------- Modal Edit Employee ----------- -->

    <!-- <b-button v-b-modal.modal-prevent-closing variant="primary">test modal edit</b-button>
    <b-modal id="modal-prevent-closing" ref="modal" title="Update Employee Info" ok-title="Update">
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <div v-for="item in newEmp" :key="item.id">
          <b-form-group label="Name" label-for="name-input">
            <b-form-input id="name-input" v-model="item.name" required> </b-form-input>
          </b-form-group>

          <b-form-group label="Age" label-for="age-input">
            <b-form-input id="age-input" v-model="item.age" required> </b-form-input>
          </b-form-group>

          <b-form-group label="Salary" label-for="salary-input">
            <b-form-input id="salary-input" v-model="item.salary" required> </b-form-input>
          </b-form-group>

          <b-form-group label="Department" label-for="department-input">
            <b-form-input id="department-input" v-model="item.departmentId" required>
            </b-form-input>
          </b-form-group>
        </div>
      </form>
    </b-modal> -->

    <!-- -------------- End Modal ---------------- -->
  </div>
  </transition>
</template>

<script>
import { employees } from '@/data/data';
import { mapActions, mapGetters } from 'vuex';
export default {
  data() {
    return {
      id: this.$route.params.id,
      employees,
      newEmp: {
        id: '',
        name: '',
        age: '',
        salary: '',
        departmentId: '',
      },
    };
  },
  computed: {
    ...mapGetters(['getEmployeeById']),
  },
  created() {
    this.newEmp = this.getEmployeeById(this.id);
    // console.log(this.newEmp[0]);
  },
  methods: {
    ...mapActions(['updateEmployee','deleteEmployee']),
    handleOk() {
      this.updateEmployee({
        ...this.newEmp,
      });
    },
    handleDelete(id){
      this.deleteEmployee(id)
      this.$router.push('/employee/')
    },
    handleResetForm(){
      console.log('first')
      
    }
  },
};
</script>

<style lang="scss" scoped>
.header-info {
  display: flex;
  justify-content: space-between;
  transition: 0.5s ease-in-out;
  &-left {
    width: 260px;
  }
}

.header-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
 
  &:hover {
    cursor: pointer;
    background: rgb(233, 233, 233);
  }
}
</style>
