<!-- eslint-disable vue/multi-word-component-names -->
<template lang="">
    <transition name="login" appear>
        <div>
        <b-tabs
            active-nav-item-class="font-weight-bold text-uppercase text-danger"
            active-tab-class="font-weight-bold text-success"
            content-class="mt-4"
        >
            <b-tab title="Employees" active>
                <div>
                    <h2 class="mb-5">All employees</h2>
                    <AddNewEmployee />
                </div>

                <div class="line"></div>

                <AllEmployees />
            </b-tab>

            <b-tab title="Departments">
                <h3>list of departments </h3>
                <ListDepartment/>
            </b-tab>
        </b-tabs>
    </div>
    </transition>
</template>

<script>
import { mapGetters } from 'vuex';
import AllEmployees from '@/components/employees/AllEmployees.vue';
import AddNewEmployee from '@/components/employees/AddNewEmployee.vue';
import ListDepartment from '@/components/departments/ListDepartment.vue';



export default {
    components: {
        AllEmployees,
        AddNewEmployee,
        ListDepartment
    },
    data() {
        return {};
    },
    computed: { ...mapGetters(['getAllEmployees', 'getAllDepartments']) },
};
</script>

<style lang=""></style>
