<!-- eslint-disable vue/multi-word-component-names -->
<template>
   <transition name="login" appear>
    <div class="text-center">
        <!-- class="wrapper" -->
        <div class="d-inline d-inline text-info">
            <h2>Top 10 employees with highest salary</h2>
        </div>

        <ShowTop10Employees />

        <div class="line"></div>

        <div class="d-inline d-inline text-info">
            <h2>List employees of the department with the highest total revenue</h2>
        </div>
        <!-- <div class="line"></div> -->
        <DepartmentHighestTotalSalary />
    </div>
   </transition>
</template>

<script>
import { mapGetters } from 'vuex';
import ShowTop10Employees from '../components/employees/ShowTop10Employees.vue';
import DepartmentHighestTotalSalary from '@/components/departments/DepartmentHighestTotalSalary.vue';

export default {
    components: {
        ShowTop10Employees,
        DepartmentHighestTotalSalary,
    },
    data() {
        return {
            fields: ['id', 'name', 'age', 'salary', 'departmentId'],
        };
    },
    computed: mapGetters(['highestEmployees']),
};
</script>

<!-- -------------------------- CSS --------------------------- -->
<style lang="scss" scoped>
p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
</style>
