<!-- eslint-disable vue/multi-word-component-names -->
<template lang="">
  <transition name="login" appear>
    <div class="h-100" v-show="show">
      <b-container class="h-100">
        <b-row class="d-flex justify-content-center h-100">
          <b-col class="col col-4 h1 d-flex align-items-center justify-content-center">
            <b-card
              class="shadow-lg wrapper border-0 rounded-5"
              header-bg-variant="info"
              header-text-variant="white"
            >
              <b-card-header class="text-center border-0 text-primary rounded-4 bg-white">
                <h1 class="fw-semibold"> Sign in </h1>
              </b-card-header>
              <b-card-text class="m-4 fs-6">
                <b-form @submit.prevent="handleLogin">
                  <b-form-group label="Username" class="mb-3">
                    <b-form-input
                      class="text-bg-light border-0 py-2 rounded-pill"
                      autofocus
                      required
                      v-model="form.username"
                    ></b-form-input>
                  </b-form-group>

                  <b-form-group label="Password">
                    <b-form-input
                      class="text-bg-light border-0 py-2 rounded-pill"
                      required
                      v-model="form.password"
                      type="password"
                    ></b-form-input>
                  </b-form-group>
                  <p class="text-danger my-3" v-show="isError">Username or password incorrect!</p>
                  <b-form-group class="mt-5 d-flex justify-content-center form-control-plaintext">
                    <b-button
                      type="submit"
                      variant="primary"
                      class="px-5 shadow rounded-pill py-3 fw-semibold"
                    >
                      Login
                    </b-button>
                  </b-form-group>
                </b-form>
              </b-card-text>
            </b-card>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </transition>
</template>

<script>
export default {
  data() {
    return {
      form: {
        username: '',
        password: '',
      },
      isError: false,
      show: true,
    };
  },
  computed: {},
  methods: {
    handleLogin() {
      if (this.form.username === 'admin' && this.form.password === 'admin') {
        sessionStorage.setItem('username', this.form.username);
        this.$router.push('/');
      } else {
        this.isError = true;
      }
      // this.username = '';
      // this.password = '';
    },
  },
};
</script>

<style lang="css">
.login-enter {
  opacity: 0;
}
.login-enter-active {
  transition: opacity 0.5s;
  animation: slide-in 0.5s ease-out forwards;
}

.login-leave {
}
.login-leave-active {
  opacity: 0;
  transition: opacity 0.5s;
  animation: slide-out 0.5s ease-out forwards;
}

/* key-frames */
@keyframes slide-in {
  from {
    transform: translateY(-9px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}
</style>
