<template lang="">
    <div>
        <h1>404. Not Fund</h1>
        <router-link to="/">Go To Home</router-link>
    </div>
</template>

<script>
export default {
    
}
</script>

<style lang="">
    
</style>