<template lang="">
    <div class="container">
        <div class="row">
            <div class="col-12 text-uppercase">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                         
                            <th scope="col">Employee name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Department</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr
                            v-for="employee in employeesOfDepartmentHighestTotalSalary"
                            :key="employee.id"
                        >
                           
                            <td>{{ employee.name }}</td>
                            <td>{{ employee.age }}</td>
                            <td>{{ employee.salary }}</td>
                            <td>
                                {{
                                  getDepartmentNameById(employee)
                                }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';

export default {
    data() {
        return {
        };
    },
    computed: {
        ...mapGetters(['employeesOfDepartmentHighestTotalSalary','getDepartmentNameById']),
    },
};
</script>
<style lang=""></style>
