<template lang="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Department name</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr v-for="department in getAllDepartments" :key="department.id">
                            <th scope="row">{{ department.departmentId }}</th>
                            <td>
                                <b-link
                                    @click="$router.push('/department/' + department.departmentId)"
                                    >{{ department.name }}
                                </b-link>
                            </td>
                            <td>
                                <b-button pill class="mx-1 px-4" variant="outline-info">
                                    Information
                                </b-button>

                                <!-- <b-button pill  class="mx-1 px-4" variant="success">Edit
                                </b-button>-->
                                <!-- <b-button
                                    pill
                                    class="mx-1 px-3"
                                    variant="danger"
                                    @click="deleteDepartment(department.departmentId)"
                                    >Delete</b-button
                                > -->

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    data() {
        return {};
    },
    computed: {
        ...mapGetters(['getAllDepartments']),
    },
};
</script>
<style lang=""></style>
