<template lang="">
    <b-nav class="navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-between">
        <div class="mx-3">
            <b-icon icon="list" font-scale="2" role="button"></b-icon>
        </div>

        <div class="mx-2 px-2">
            <b-icon class="mx-3" icon="bell" role="button" scale="1.5"></b-icon>
            <b-icon class="mx-3" icon="bookmark-plus" scale="1.5" role="button"></b-icon>
            
            <router-link to="/login">
                
                <!-- <b-icon class="mx-3" icon="person-square" scale="1.5" role="button"></b-icon> -->
                <b-dropdown text="Admin" variant="primary" class="m-2">
                    <b-dropdown-item href="#">Profile</b-dropdown-item>
                    <b-dropdown-item href="#">Action log</b-dropdown-item>
                    <b-dropdown-item href="#" @click="logOut()">Sign out</b-dropdown-item>
                </b-dropdown>
            </router-link>

            <b-icon class="mx-3" scale="1.3" icon="gear" role="button"></b-icon>
        </div>
    </b-nav>
</template>

<script>
export default {
    name: 'nav-bar',
    components: {
        
    }, methods:{
        logOut(){
            sessionStorage.removeItem('username')
            this.$router.push('/login')
        }
    }
};
</script>
<style lang=""></style>
