<!-- eslint-disable vue/multi-word-component-names -->
<template>
    <div>
        <b-input-group>
            <template #prepend>
                <b-input-group-text>Search</b-input-group-text>
            </template>
            <b-form-input v-model="text" @input="changeText(text)" type="search"></b-form-input>
        </b-input-group>
    </div>
</template>

<script>
export default {
    props: {
        searchText: String,
    },
    data() {
        return {
            text: this.searchText,
        };
    },
    

    methods: {
        changeText: function (text) {
            this.$emit('update', text);
        },
    },
};
</script>
