<template lang="">
    <div>
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Dashboard</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <router-link to="/">Home</router-link>
                </li>

                <li>
                    <router-link to="/employee">Employees</router-link>
                </li>
                <li>
                    <router-link to="/departments">Department</router-link>
                </li>
            </ul>
                <b-button class="px-3 mx-5" variant="danger" @click="logOut()">Logout</b-button>
          
        </nav>
    </div>
</template>
<script>
export default {
    name: 'side-bar',
    methods:{
        logOut(){
            sessionStorage.removeItem('username')
            this.$router.push('/login')
        }
    }
};




</script>
<style lang="css">
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100%;
    background: #7386d5;
    color: #fff;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
</style>
