<template lang="">
    <transition name="login" appear>
        <div class="wrapper">
            <!-- Sidebar  -->
            <SideBar />

            <!-- Navbar -->
            <div class="w-100">
                <NavBar />

                <!-- class="text-center" -->
                <div id="content">
                    <!-- Content -->
                    <slot> </slot>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
import SideBar from '../components/SideBar.vue';
import NavBar from '../components/NavBar.vue';

export default {
    components: {
        SideBar,
        NavBar,
    },
};
</script>

<style lang=""></style>
