<template lang="">
    <div class="login-h">
        <slot></slot>
    </div>
</template>
<script>
import '@/pages/Login.vue'
import '@/pages/NotFund.vue'
export default {
    
}
</script>
<style lang="css">
    .login-h{
        height: 100vh;
    }
</style>